*{
	padding: 0px;
	margin:0px;
	box-sizing: border-box;
}

.carousel-container{

	width: 30%;
	margin: auto;
	overflow: hidden;
}

.carousel-slide{
	display: inline-flex;
	width: 50%;
	height: 500px;
}